openapi: 3.2.0
info:
  title: Tink Data Loans API
  description: 'Tink Data API exposes aggregated PSD2 and non-PSD2 account information for consented users across 6,000+ European banks: accounts, balances, transactions, identities, account parties, investment holdings, and loan accounts. Used for one-time access reports as well as continuous-access products like Money Manager and Risk Insights.'
  version: '2.0'
  contact:
    name: Tink Developer Support
    url: https://docs.tink.com/resources/transactions
servers:
- url: https://api.tink.com
  description: Tink EU Production
- url: https://api.us.tink.com
  description: Tink US Production
security:
- BearerAuth: []
tags:
- name: Loans
  description: Loan accounts.
paths:
  /data/v2/loan-accounts:
    get:
      summary: Tink List Loan Accounts
      description: List loan accounts the user has consented to share, including outstanding balance, interest rate, and term.
      operationId: listLoanAccounts
      tags:
      - Loans
      responses:
        '200':
          description: Loan accounts returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanAccountList'
  /data/v2/loan-accounts/{accountId}:
    get:
      summary: Tink Get A Loan Account
      description: Retrieve detailed information for a single loan account.
      operationId: getLoanAccount
      tags:
      - Loans
      parameters:
      - in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Loan account returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoanAccount'
components:
  schemas:
    Money:
      type: object
      properties:
        amount:
          type: object
          properties:
            value:
              type: object
              properties:
                scale:
                  type: string
                unscaledValue:
                  type: string
            currencyCode:
              type: string
    LoanAccountList:
      type: object
      properties:
        loanAccounts:
          type: array
          items:
            $ref: '#/components/schemas/LoanAccount'
    LoanAccount:
      type: object
      properties:
        id:
          type: string
        accountName:
          type: string
        loanType:
          type: string
          enum:
          - MORTGAGE
          - BLANCO
          - MEMBERSHIP
          - AUTO
          - STUDENT
          - OTHER
          - UNDEFINED
        outstandingBalance:
          $ref: '#/components/schemas/Money'
        interestRate:
          type: number
          format: double
        terms:
          type: object
          properties:
            endDate:
              type: string
              format: date
            durationMonths:
              type: integer
              format: int32
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
