openapi: 3.2.0
info:
  title: Tink Data Balance Refresh API
  description: 'Tink Data API exposes aggregated PSD2 and non-PSD2 account information for consented users across 6,000+ European banks: accounts, balances, transactions, identities, account parties, investment holdings, and loan accounts. Used for one-time access reports as well as continuous-access products like Money Manager and Risk Insights.'
  version: '2.0'
  contact:
    name: Tink Developer Support
    url: https://docs.tink.com/resources/transactions
servers:
- url: https://api.tink.com
  description: Tink EU Production
- url: https://api.us.tink.com
  description: Tink US Production
security:
- BearerAuth: []
tags:
- name: BalanceRefresh
  description: On-demand balance refresh.
paths:
  /api/v1/balance-refresh:
    post:
      summary: Tink Create A Balance Refresh
      description: Trigger an on-demand refresh of account balances for a connected credentials object. Used by Balance Check to fetch fresh data outside of the bank's standard polling cadence.
      operationId: createBalanceRefresh
      tags:
      - BalanceRefresh
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceRefreshRequest'
      responses:
        '202':
          description: Balance refresh accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceRefreshStatus'
  /api/v1/balance-refresh/{balanceRefreshId}:
    get:
      summary: Tink Get A Balance Refresh Status
      description: Retrieve the status of a previously triggered balance refresh.
      operationId: getBalanceRefresh
      tags:
      - BalanceRefresh
      parameters:
      - in: path
        name: balanceRefreshId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Balance refresh status returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalanceRefreshStatus'
components:
  schemas:
    BalanceRefreshStatus:
      type: object
      properties:
        balanceRefreshId:
          type: string
        status:
          type: string
          enum:
          - QUEUED
          - IN_PROGRESS
          - FINISHED
          - FAILED
        statusMessage:
          type: string
    BalanceRefreshRequest:
      type: object
      properties:
        credentialsId:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
