openapi: 3.1.0
info:
  title: Tink Account Check Accounts RiskInsights API
  description: 'Tink Account Check verifies that a bank account belongs to the person or business presenting it. After a customer authenticates via Tink Link the Account Check report exposes verified account ownership, identity, IBAN or sort-code/account number, account type, balance, and holder match status. The report can be retrieved as JSON for programmatic use or as a PDF for compliance archives.

    '
  version: '1.0'
  contact:
    name: Tink Developer Support
    url: https://docs.tink.com/resources/account-check
servers:
- url: https://api.tink.com
  description: Tink EU Production
- url: https://api.us.tink.com
  description: Tink US Production
security:
- BearerAuth: []
tags:
- name: RiskInsights
  description: Risk decisioning reports.
paths:
  /risk/v1/risk-insights/{report_id}:
    get:
      summary: Tink Get A Risk Insights Report
      description: Retrieve a Risk Insights report combining income, expenses, balance volatility, and risk signals.
      operationId: getRiskInsightsReport
      tags:
      - RiskInsights
      parameters:
      - $ref: '#/components/parameters/ReportIdParam'
      responses:
        '200':
          description: Risk Insights report returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskInsightsReport'
components:
  schemas:
    IncomeCheckReport:
      type: object
      properties:
        id:
          type: string
        market:
          type: string
        generatedAt:
          type: string
          format: date-time
        verifiedIncomes:
          type: array
          items:
            $ref: '#/components/schemas/VerifiedIncome'
        summary:
          type: object
          properties:
            totalNetIncome:
              $ref: '#/components/schemas/Money'
            averageMonthlyIncome:
              $ref: '#/components/schemas/Money'
            consecutiveMonthsWithIncome:
              type: integer
              format: int32
    Money:
      type: object
      properties:
        amount:
          type: string
        currencyCode:
          type: string
    VerifiedIncome:
      type: object
      properties:
        source:
          type: string
        payer:
          type: string
        category:
          type: string
          enum:
          - SALARY
          - BENEFIT
          - PENSION
          - INTEREST
          - DIVIDEND
          - OTHER
        cadence:
          type: string
          enum:
          - WEEKLY
          - BIWEEKLY
          - MONTHLY
          - QUARTERLY
          - YEARLY
          - IRREGULAR
        averageAmount:
          $ref: '#/components/schemas/Money'
        firstSeen:
          type: string
          format: date
        lastSeen:
          type: string
          format: date
    ExpenseCheckReport:
      type: object
      properties:
        id:
          type: string
        generatedAt:
          type: string
          format: date-time
        summary:
          type: object
          properties:
            essentialExpenses:
              $ref: '#/components/schemas/Money'
            discretionaryExpenses:
              $ref: '#/components/schemas/Money'
            totalExpenses:
              $ref: '#/components/schemas/Money'
        categories:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              amount:
                $ref: '#/components/schemas/Money'
              transactionCount:
                type: integer
                format: int32
    RiskInsightsReport:
      type: object
      properties:
        id:
          type: string
        generatedAt:
          type: string
          format: date-time
        signals:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              severity:
                type: string
                enum:
                - INFO
                - LOW
                - MEDIUM
                - HIGH
              description:
                type: string
        incomeSummary:
          $ref: '#/components/schemas/IncomeCheckReport'
        expenseSummary:
          $ref: '#/components/schemas/ExpenseCheckReport'
        balanceVolatility:
          type: object
          properties:
            averageBalance:
              $ref: '#/components/schemas/Money'
            minimumBalance:
              $ref: '#/components/schemas/Money'
            overdraftDays:
              type: integer
              format: int32
  parameters:
    ReportIdParam:
      in: path
      name: report_id
      required: true
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
