openapi: 3.2.0
info:
  title: Tink Payments Mandates API
  description: Tink Payments (Payment Initiation Service / Pay by Bank) initiates account-to-account payments directly from a customer's bank account under PSD2. Supports one-off domestic and cross-border SEPA payments, auto-payments, sweeping variable recurring payments, payouts, refunds, and mandates. Available in the EU under PSD2 and in the US via the Guaranteed Payments stack.
  version: '1.0'
  contact:
    name: Tink Developer Support
    url: https://docs.tink.com/resources/payments
servers:
- url: https://api.tink.com
  description: Tink EU Production
- url: https://api.us.tink.com
  description: Tink US Production
security:
- BearerAuth: []
tags:
- name: Mandates
  description: Recurring payment mandates.
paths:
  /payments/mandates:
    post:
      summary: Tink Create A Mandate
      description: Create a payment mandate that authorizes recurring or sweeping variable recurring payments from a user's bank account.
      operationId: createMandate
      tags:
      - Mandates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MandateRequest'
      responses:
        '201':
          description: Mandate created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mandate'
  /payments/mandates/{id}:
    get:
      summary: Tink Get A Mandate
      description: Retrieve a mandate by id.
      operationId: getMandate
      tags:
      - Mandates
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Mandate returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Mandate'
    delete:
      summary: Tink Revoke A Mandate
      description: Revoke an active mandate.
      operationId: revokeMandate
      tags:
      - Mandates
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Mandate revoked.
components:
  schemas:
    Mandate:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - CREATED
          - ACTIVE
          - REVOKED
          - EXPIRED
        userId:
          type: string
        market:
          type: string
        currency:
          type: string
        maximumIndividualAmount:
          type: string
        maximumAmountPerPeriod:
          type: string
        period:
          type: string
          enum:
          - DAY
          - WEEK
          - MONTH
          - YEAR
        expiresAt:
          type: string
          format: date-time
        beneficiary:
          $ref: '#/components/schemas/Account'
    MandateRequest:
      type: object
      properties:
        market:
          type: string
        currency:
          type: string
        userId:
          type: string
        maximumIndividualAmount:
          type: string
        maximumAmountPerPeriod:
          type: string
        period:
          type: string
          enum:
          - DAY
          - WEEK
          - MONTH
          - YEAR
        beneficiary:
          $ref: '#/components/schemas/Account'
        expiresAt:
          type: string
          format: date-time
    Account:
      type: object
      properties:
        accountNumber:
          type: object
          properties:
            type:
              type: string
              enum:
              - IBAN
              - SORT_CODE
              - BBAN
              - ACCOUNT_NUMBER
            value:
              type: string
        name:
          type: string
        country:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
