openapi: 3.2.0
info:
  title: Tink Data Transactions API
  description: 'Tink Data API exposes aggregated PSD2 and non-PSD2 account information for consented users across 6,000+ European banks: accounts, balances, transactions, identities, account parties, investment holdings, and loan accounts. Used for one-time access reports as well as continuous-access products like Money Manager and Risk Insights.'
  version: '2.0'
  contact:
    name: Tink Developer Support
    url: https://docs.tink.com/resources/transactions
servers:
- url: https://api.tink.com
  description: Tink EU Production
- url: https://api.us.tink.com
  description: Tink US Production
security:
- BearerAuth: []
tags:
- name: Transactions
  description: User bank transactions.
paths:
  /data/v2/transactions:
    get:
      summary: Tink List Transactions
      description: List bank transactions across all consented accounts with optional filters by date range, account, status, and amount.
      operationId: listTransactions
      tags:
      - Transactions
      parameters:
      - in: query
        name: accountIdIn
        schema:
          type: string
      - in: query
        name: bookedDateGte
        schema:
          type: string
          format: date
      - in: query
        name: bookedDateLte
        schema:
          type: string
          format: date
      - in: query
        name: statusIn
        schema:
          type: string
          enum:
          - BOOKED
          - PENDING
          - UNDEFINED
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageToken'
      responses:
        '200':
          description: Transactions returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
components:
  schemas:
    TransactionList:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        nextPageToken:
          type: string
    Money:
      type: object
      properties:
        amount:
          type: object
          properties:
            value:
              type: object
              properties:
                scale:
                  type: string
                unscaledValue:
                  type: string
            currencyCode:
              type: string
    Transaction:
      type: object
      properties:
        id:
          type: string
        accountId:
          type: string
        amount:
          $ref: '#/components/schemas/Money'
        descriptions:
          type: object
          properties:
            original:
              type: string
            display:
              type: string
        dates:
          type: object
          properties:
            booked:
              type: string
              format: date
            value:
              type: string
              format: date
        status:
          type: string
          enum:
          - BOOKED
          - PENDING
          - UNDEFINED
        categories:
          type: object
          properties:
            pfm:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
        merchantInformation:
          type: object
          properties:
            merchantCategoryCode:
              type: string
            merchantName:
              type: string
        types:
          type: object
          properties:
            type:
              type: string
            financialInstitutionTypeCode:
              type: string
  parameters:
    PageSize:
      in: query
      name: pageSize
      schema:
        type: integer
        format: int32
        maximum: 200
    PageToken:
      in: query
      name: pageToken
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
