openapi: 3.2.0
info:
  title: Tink Data Enrichment Categories API
  description: Tink Data Enrichment categorises raw bank transactions, identifies the merchant, detects recurring transactions, and predicts future recurring payments. Provides the categorisation taxonomy and recurring-group rollups that power Money Manager, Expense Check, and Income Check.
  version: '1.0'
  contact:
    name: Tink Developer Support
    url: https://docs.tink.com/resources/data-enrichment
servers:
- url: https://api.tink.com
  description: Tink EU Production
- url: https://api.us.tink.com
  description: Tink US Production
security:
- BearerAuth: []
tags:
- name: Categories
  description: Tink categorisation taxonomy.
paths:
  /enrichment/v1/categories:
    get:
      summary: Tink List Categories
      description: List the Tink categorisation taxonomy for the calling locale.
      operationId: listCategories
      tags:
      - Categories
      parameters:
      - in: query
        name: locale
        schema:
          type: string
      responses:
        '200':
          description: Categories returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryList'
components:
  schemas:
    CategoryList:
      type: object
      properties:
        categories:
          type: array
          items:
            $ref: '#/components/schemas/Category'
    Category:
      type: object
      properties:
        id:
          type: string
        code:
          type: string
        name:
          type: string
        parentId:
          type: string
        type:
          type: string
          enum:
          - EXPENSES
          - INCOME
          - TRANSFERS
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
