openapi: 3.2.0
info:
  title: Tink Connector Connector Transactions API
  description: Tink Connector lets partners push their own account and transaction data into the Tink platform for users they already authenticate, so those feeds benefit from Tink categorisation, recurring detection, Money Manager, and risk reporting alongside PSD2-aggregated data.
  version: '1.0'
  contact:
    name: Tink Developer Support
    url: https://docs.tink.com/resources/connector
servers:
- url: https://api.tink.com
  description: Tink EU Production
security:
- BearerAuth: []
tags:
- name: ConnectorTransactions
  description: Partner-ingested transactions.
paths:
  /connector/users/{external_user_id}/transactions:
    post:
      summary: Tink Ingest Connector Transactions
      description: Push a batch of partner transactions for the specified Tink user and accounts.
      operationId: ingestConnectorTransactions
      tags:
      - ConnectorTransactions
      parameters:
      - $ref: '#/components/parameters/ExternalUserIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorTransactionBatch'
      responses:
        '202':
          description: Transactions accepted for ingestion.
components:
  schemas:
    Money:
      type: object
      properties:
        amount:
          type: string
        currencyCode:
          type: string
    ConnectorTransaction:
      type: object
      properties:
        externalTransactionId:
          type: string
        externalAccountId:
          type: string
        amount:
          $ref: '#/components/schemas/Money'
        bookedDate:
          type: string
          format: date
        description:
          type: string
        merchantName:
          type: string
    ConnectorTransactionBatch:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/ConnectorTransaction'
  parameters:
    ExternalUserIdParam:
      in: path
      name: external_user_id
      required: true
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
