openapi: 3.2.0
info:
  title: Tink Data Investments API
  description: 'Tink Data API exposes aggregated PSD2 and non-PSD2 account information for consented users across 6,000+ European banks: accounts, balances, transactions, identities, account parties, investment holdings, and loan accounts. Used for one-time access reports as well as continuous-access products like Money Manager and Risk Insights.'
  version: '2.0'
  contact:
    name: Tink Developer Support
    url: https://docs.tink.com/resources/transactions
servers:
- url: https://api.tink.com
  description: Tink EU Production
- url: https://api.us.tink.com
  description: Tink US Production
security:
- BearerAuth: []
tags:
- name: Investments
  description: Investment accounts and holdings.
paths:
  /data/v2/investment-accounts:
    get:
      summary: Tink List Investment Accounts
      description: List investment accounts the user has consented to share.
      operationId: listInvestmentAccounts
      tags:
      - Investments
      responses:
        '200':
          description: Investment accounts returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestmentAccountList'
  /data/v2/investment-accounts/{id}/holdings:
    get:
      summary: Tink List Investment Holdings
      description: List individual holdings within an investment account, including instrument, quantity, and market value.
      operationId: listInvestmentHoldings
      tags:
      - Investments
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Holdings returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldingList'
components:
  schemas:
    InvestmentAccount:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        marketValue:
          $ref: '#/components/schemas/Money'
        cashBalance:
          $ref: '#/components/schemas/Money'
    Money:
      type: object
      properties:
        amount:
          type: object
          properties:
            value:
              type: object
              properties:
                scale:
                  type: string
                unscaledValue:
                  type: string
            currencyCode:
              type: string
    Holding:
      type: object
      properties:
        id:
          type: string
        instrument:
          type: object
          properties:
            isin:
              type: string
            name:
              type: string
            type:
              type: string
              enum:
              - STOCK
              - FUND
              - BOND
              - ETF
              - OTHER
              - UNDEFINED
        quantity:
          type: string
        marketValue:
          $ref: '#/components/schemas/Money'
        purchasePrice:
          $ref: '#/components/schemas/Money'
    InvestmentAccountList:
      type: object
      properties:
        investmentAccounts:
          type: array
          items:
            $ref: '#/components/schemas/InvestmentAccount'
    HoldingList:
      type: object
      properties:
        holdings:
          type: array
          items:
            $ref: '#/components/schemas/Holding'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
