openapi: 3.2.0
info:
  title: Tink Risk and Reports Risk Categorisation API
  description: Tink's risk-decisioning reports built on aggregated bank data. Income Check confirms a user's verified income and stability. Expense Check summarises essential and discretionary expenses. Risk Insights produces a risk-decisioning report covering creditworthiness signals. Risk Categorisation classifies transactions for affordability and lending decisions.
  version: '2.0'
  contact:
    name: Tink Developer Support
    url: https://docs.tink.com/resources/risk-insights
servers:
- url: https://api.tink.com
  description: Tink EU Production
- url: https://api.us.tink.com
  description: Tink US Production
security:
- BearerAuth: []
tags:
- name: RiskCategorisation
  description: Risk categorisation reports.
paths:
  /risk/v2/risk-categorisation/reports/{report_id}:
    get:
      summary: Tink Get A Risk Categorisation Report
      description: Retrieve a Risk Categorisation report classifying transactions for lending and affordability decisions.
      operationId: getRiskCategorisationReport
      tags:
      - RiskCategorisation
      parameters:
      - $ref: '#/components/parameters/ReportIdParam'
      responses:
        '200':
          description: Risk Categorisation report returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskCategorisationReport'
components:
  schemas:
    Money:
      type: object
      properties:
        amount:
          type: string
        currencyCode:
          type: string
    RiskCategorisationReport:
      type: object
      properties:
        id:
          type: string
        generatedAt:
          type: string
          format: date-time
        categories:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              riskTier:
                type: string
                enum:
                - LOW
                - MEDIUM
                - HIGH
              amount:
                $ref: '#/components/schemas/Money'
              transactionCount:
                type: integer
                format: int32
  parameters:
    ReportIdParam:
      in: path
      name: report_id
      required: true
      schema:
        type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
