openapi: 3.2.0
info:
  title: Tink Money Manager Cash Flow API
  description: Tink Money Manager (Business Financial Management) provides personal and business financial management capabilities including cash flow summaries, budgets, financial calendar events, and reconciliations. The finance-management API powers SMB-facing dashboards inside customer banking and accounting apps.
  version: '1.0'
  contact:
    name: Tink Developer Support
    url: https://docs.tink.com/resources/money-manager
servers:
- url: https://api.tink.com
  description: Tink EU Production
security:
- BearerAuth: []
tags:
- name: Cash Flow
  description: Cash flow summaries.
paths:
  /finance-management/v1/cash-flow-summaries/{resolution}:
    get:
      summary: Tink Get Cash Flow Summaries
      description: Retrieve cash flow summaries (income vs expense) for the user at the requested resolution. Resolution values include DAILY, WEEKLY, MONTHLY, QUARTERLY, and YEARLY.
      operationId: getCashFlowSummaries
      tags:
      - Cash Flow
      parameters:
      - in: path
        name: resolution
        required: true
        schema:
          type: string
          enum:
          - DAILY
          - WEEKLY
          - MONTHLY
          - QUARTERLY
          - YEARLY
      - in: query
        name: from_gte
        required: true
        schema:
          type: string
          format: date
      - in: query
        name: to_lte
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Cash flow summaries returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashFlowSummaryList'
components:
  schemas:
    Money:
      type: object
      properties:
        amount:
          type: string
        currencyCode:
          type: string
    CashFlowSummaryList:
      type: object
      properties:
        summaries:
          type: array
          items:
            type: object
            properties:
              periodStart:
                type: string
                format: date
              periodEnd:
                type: string
                format: date
              income:
                $ref: '#/components/schemas/Money'
              expenses:
                $ref: '#/components/schemas/Money'
              net:
                $ref: '#/components/schemas/Money'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
