openapi: 3.1.0
info:
  title: Tink Account Check Accounts RecurringTransactions API
  description: 'Tink Account Check verifies that a bank account belongs to the person or business presenting it. After a customer authenticates via Tink Link the Account Check report exposes verified account ownership, identity, IBAN or sort-code/account number, account type, balance, and holder match status. The report can be retrieved as JSON for programmatic use or as a PDF for compliance archives.

    '
  version: '1.0'
  contact:
    name: Tink Developer Support
    url: https://docs.tink.com/resources/account-check
servers:
- url: https://api.tink.com
  description: Tink EU Production
- url: https://api.us.tink.com
  description: Tink US Production
security:
- BearerAuth: []
tags:
- name: RecurringTransactions
  description: Recurring transaction detection and prediction.
paths:
  /enrichment/v1/recurring-transactions:
    get:
      summary: Tink List Recurring Transactions
      description: List confirmed recurring transactions (subscriptions, salary, rent) for the user.
      operationId: listRecurringTransactions
      tags:
      - RecurringTransactions
      responses:
        '200':
          description: Recurring transactions returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringTransactionList'
  /enrichment/v1/predicted-recurring-transactions:
    get:
      summary: Tink List Predicted Recurring Transactions
      description: List predicted future recurring transactions inferred from the user's transaction history.
      operationId: listPredictedRecurringTransactions
      tags:
      - RecurringTransactions
      responses:
        '200':
          description: Predicted recurring transactions returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringTransactionList'
  /enrichment/v1/recurring-transactions-groups:
    get:
      summary: Tink List Recurring Transaction Groups
      description: List recurring transaction groups (clusters of related recurring transactions).
      operationId: listRecurringTransactionsGroups
      tags:
      - RecurringTransactions
      responses:
        '200':
          description: Groups returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringTransactionGroupList'
  /enrichment/v1/recurring-transactions-groups/{groupId}:
    get:
      summary: Tink Get A Recurring Transaction Group
      description: Retrieve a single recurring transaction group by id.
      operationId: getRecurringTransactionsGroup
      tags:
      - RecurringTransactions
      parameters:
      - in: path
        name: groupId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Group returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringTransactionGroup'
components:
  schemas:
    RecurringTransactionGroupList:
      type: object
      properties:
        groups:
          type: array
          items:
            $ref: '#/components/schemas/RecurringTransactionGroup'
    RecurringTransactionList:
      type: object
      properties:
        recurringTransactions:
          type: array
          items:
            $ref: '#/components/schemas/RecurringTransaction'
    RecurringTransaction:
      type: object
      properties:
        id:
          type: string
        merchantName:
          type: string
        cadence:
          type: string
          enum:
          - DAILY
          - WEEKLY
          - BIWEEKLY
          - MONTHLY
          - QUARTERLY
          - YEARLY
          - IRREGULAR
        averageAmount:
          type: object
          properties:
            value:
              type: string
            currencyCode:
              type: string
        category:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
        lastOccurrence:
          type: string
          format: date
        nextExpectedOccurrence:
          type: string
          format: date
    RecurringTransactionGroup:
      type: object
      properties:
        id:
          type: string
        merchantName:
          type: string
        cadence:
          type: string
          enum:
          - DAILY
          - WEEKLY
          - BIWEEKLY
          - MONTHLY
          - QUARTERLY
          - YEARLY
          - IRREGULAR
        recurringTransactionIds:
          type: array
          items:
            type: string
        totalAmount:
          type: object
          properties:
            value:
              type: string
            currencyCode:
              type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
