openapi: 3.2.0
info:
  title: Tink Risk and Reports Income Checks API
  description: Tink's risk-decisioning reports built on aggregated bank data. Income Check confirms a user's verified income and stability. Expense Check summarises essential and discretionary expenses. Risk Insights produces a risk-decisioning report covering creditworthiness signals. Risk Categorisation classifies transactions for affordability and lending decisions.
  version: '2.0'
  contact:
    name: Tink Developer Support
    url: https://docs.tink.com/resources/risk-insights
servers:
- url: https://api.tink.com
  description: Tink EU Production
- url: https://api.us.tink.com
  description: Tink US Production
security:
- BearerAuth: []
tags:
- name: IncomeChecks
  description: Income verification reports.
paths:
  /v2/income-checks/{report_id}:
    get:
      summary: Tink Get An Income Check Report
      description: Retrieve a completed Income Check report as JSON. Includes verified income streams, employer information, salary cadence, and trend analysis over the lookback window.
      operationId: getIncomeCheckReport
      tags:
      - IncomeChecks
      parameters:
      - $ref: '#/components/parameters/ReportIdParam'
      responses:
        '200':
          description: Income Check report returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeCheckReport'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/income-checks/{report_id}:generate-pdf:
    get:
      summary: Tink Generate An Income Check PDF
      description: Retrieve the Income Check report rendered as a PDF for compliance archives.
      operationId: generateIncomeCheckPdf
      tags:
      - IncomeChecks
      parameters:
      - $ref: '#/components/parameters/ReportIdParam'
      responses:
        '200':
          description: PDF returned.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
components:
  schemas:
    Error:
      type: object
      properties:
        errorMessage:
          type: string
        errorCode:
          type: string
    VerifiedIncome:
      type: object
      properties:
        source:
          type: string
        payer:
          type: string
        category:
          type: string
          enum:
          - SALARY
          - BENEFIT
          - PENSION
          - INTEREST
          - DIVIDEND
          - OTHER
        cadence:
          type: string
          enum:
          - WEEKLY
          - BIWEEKLY
          - MONTHLY
          - QUARTERLY
          - YEARLY
          - IRREGULAR
        averageAmount:
          $ref: '#/components/schemas/Money'
        firstSeen:
          type: string
          format: date
        lastSeen:
          type: string
          format: date
    Money:
      type: object
      properties:
        amount:
          type: string
        currencyCode:
          type: string
    IncomeCheckReport:
      type: object
      properties:
        id:
          type: string
        market:
          type: string
        generatedAt:
          type: string
          format: date-time
        verifiedIncomes:
          type: array
          items:
            $ref: '#/components/schemas/VerifiedIncome'
        summary:
          type: object
          properties:
            totalNetIncome:
              $ref: '#/components/schemas/Money'
            averageMonthlyIncome:
              $ref: '#/components/schemas/Money'
            consecutiveMonthsWithIncome:
              type: integer
              format: int32
  parameters:
    ReportIdParam:
      in: path
      name: report_id
      required: true
      schema:
        type: string
  responses:
    NotFound:
      description: Report not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
